/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-size: 62.5%;
  font-size: 1em;
  color: rgb(55, 55, 55);
  line-height: 1.3em;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  background: rgb(15, 17, 22);
  overflow-y: hidden;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

input[disabled="disabled"], input[disabled="disabled"]:hover {
  opacity: 0.7;
}

.group:before, .group:after {
  content: " ";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

::-webkit-scrollbar {     
  background-color: rgb(15, 17, 22);
  width: 5px;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background:  rgb(60, 77, 75);
  border-radius: 10px;
}

.signalbox__body {
  background: rgb(245, 245, 245);
}

.signalbox__plot-container {
  position: relative;
  width: 100%;
  height: 67vh;
  background: rgb(15, 16, 16);
  color: white;
  box-shadow: 0 3px 3px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.16);
}

.signalbox__plot-message {
  padding: 2em 0 0 0;
  display: inherit;
  text-align: center;
  font-size: .8em;
}

.signalbox__hidden {
  display: none;
}

.signalbox__controls-container {
  padding: .7em 2em;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  color: rgb(55, 55, 55);
  background-color: rgb(10, 30, 39);
}

.signalbox__controls-btn {
  background: linear-gradient(217deg, rgba(211, 133, 16, 0.1), rgba(83, 46, 4, 0.2) 70.71%),
  linear-gradient(127deg, rgba(77, 64, 5, 0.2), rgba(141, 83, 8, 0.3) 70.71%),
  linear-gradient(336deg, rgba(95, 71, 39, 0.2), rgba(44, 25, 8, 0.3) 70.71%);
  border: 4px solid #eb8e15;
  color: rgb(235, 142, 21);
  font-family: "Material Icons Outlined", monospace;
  font-size: 2em;
  box-shadow: 0 3px 3px rgba(136, 86, 184, 0.08), 0 3px 6px rgba(144, 89, 199, 0.16);
  width: 60px;
  height: 60px;
  border-radius: 60px;
  outline: none;
  margin: .5em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  box-shadow: inset 2px 2px 15px 0 rgb(179, 79, 12);
}

.signalbox__controls-btn:hover {
  background: linear-gradient(rgba(19, 34, 63, 0.6), rgba(8, 45, 88, 0.8));
  box-shadow: inset 0 0 10px 0 rgb(24, 113, 155);
}

.signalbox__plot-chart {
  width: 98%;
  height: 520px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2em 0 1em 0;
}

.timechart-crosshair {
  stroke: white !important;
}

chart-legend {
  font-size: .9em;
  color: rgb(55, 55, 55);
}

.signalbox__alg-btn__container {
  background-color: rgb(17, 35, 44);
  text-align: center;
  height: 100%;
}

.signalbox__alg-btns {
  padding: 1em 0;
  box-sizing: border-box;
}

.signalbox__alg-btn {
  width: 120px;
  border: none;
  background: none;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 4em;
  outline: none;
}

.btn-img {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.signalbox__freq-btn:focus {
  outline: none;
}

.signalbox__freq-num {
  color: white;
  display: block;
  padding-top: .5em;
  font-size: 1.2em;
}

.signalbox__freq-btn {
    -webkit-appearance: none;
    background-color: white;
    width: 70%;
    height: 2px;
    margin: 3.5em 0 1em 0;
}

.signalbox__freq-btn::-webkit-slider-thumb {
     -webkit-appearance: none;
     background: linear-gradient(217deg, rgba(211, 133, 16, 0.4), rgba(83, 46, 4, 0.6) 70.71%),
     linear-gradient(127deg, rgba(77, 64, 5, 0.4), rgba(141, 83, 8, 0.5) 70.71%),
     linear-gradient(336deg, rgba(95, 71, 39, 0.4), rgba(44, 25, 8, 0.6) 70.71%);
    border: 2px solid #eb8e15;
    width: 23px;
    height: 23px;
    border-radius: 23px;
}
