/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-size: 62.5%;
  font-size: 1em;
  color: rgb(55, 55, 55);
  line-height: 1.3em;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  background: rgb(15, 17, 22);
  overflow-y: hidden;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

input[disabled="disabled"], input[disabled="disabled"]:hover {
  opacity: 0.7;
}

.group:before, .group:after {
  content: " ";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

::-webkit-scrollbar {     
  background-color: rgb(15, 17, 22);
  width: 5px;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background:  rgb(60, 77, 75);
  border-radius: 10px;
}

.signalbox__body {
  background: rgb(245, 245, 245);
}

.signalbox__plot-container {
  position: relative;
  width: 100%;
  height: 74vh;
  background: rgb(15, 16, 16);
  color: white;
  box-shadow: 0 3px 3px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.16);
}

.signalbox__plot-message {
  padding: 2em 0 0 0;
  display: inherit;
  text-align: center;
  font-size: .8em;
}

.signalbox__hidden {
  display: none;
}

.signalbox__controls-container {
  padding: .2em 2em;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  color: rgb(55, 55, 55);
  background-color: rgb(10, 30, 39);
}

.signalbox__controls-btn {
  background: linear-gradient(217deg, rgba(211, 133, 16, 0.1), rgba(83, 46, 4, 0.2) 70.71%),
  linear-gradient(127deg, rgba(77, 64, 5, 0.2), rgba(141, 83, 8, 0.3) 70.71%),
  linear-gradient(336deg, rgba(95, 71, 39, 0.2), rgba(44, 25, 8, 0.3) 70.71%);
  border: 4px solid #eb8e15;
  color: rgb(235, 142, 21);
  font-family: "Material Icons Outlined", monospace;
  font-size: 1.9em;
  width: 55px;
  height: 55px;
  border-radius: 55px;
  outline: none;
  margin: .5em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  box-shadow: inset 2px 2px 15px 0 rgb(179, 79, 12), 0 10px 10px rgba(0,0,0,0.30), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  box-sizing: border-box;
}

.signalbox__start-btn {
  width: 67px;
  height: 67px;
  border-radius: 67px;
  margin: .5em .2em;
  background: linear-gradient(rgba(19, 34, 63, 0.6), rgba(8, 45, 88, 0.8));
  box-shadow: inset 10px 10px 30px 5px rgb(179, 79, 12),  0 10px 10px rgba(0,0,0,0.30), 0 10px 10px rgba(0,0,0,0.22);
  border-color: rgb(24, 113, 155);
  color: rgb(24, 113, 155);
}

.signalbox__controls-btn[disabled="disabled"]:hover {
  background: linear-gradient(217deg, rgba(211, 133, 16, 0.1), rgba(83, 46, 4, 0.2) 70.71%),
  linear-gradient(127deg, rgba(77, 64, 5, 0.2), rgba(141, 83, 8, 0.3) 70.71%),
  linear-gradient(336deg, rgba(95, 71, 39, 0.2), rgba(44, 25, 8, 0.3) 70.71%);
  box-shadow: inset 2px 2px 15px 0 rgb(179, 79, 12),  0 10px 10px rgba(0,0,0,0.30), 0 10px 10px rgba(0,0,0,0.22);
}

.signalbox__controls-btn:hover, .signalbox__file-btn-container:hover, .signalbox__alg-btn:hover {
  background: linear-gradient(rgba(19, 34, 63, 0.6), rgba(8, 45, 88, 0.8));
  box-shadow: inset 0 0 10px 0 rgb(24, 113, 155);
}

.signalbox__plot-chart {
  width: 98%;
  height: 560px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2em 0 1em 0;
}

.timechart-crosshair {
  stroke: white !important;
}

chart-legend {
  font-size: .9em;
  color: rgb(55, 55, 55);
}

.signalbox__alg-btn__container {
  background-color: rgb(17, 35, 44);
  height: 100%;
}

.signalbox__alg-btns {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: .7em 1em .4em 1em;
  text-align: center;
}

.signalbox__alg-btn {
  width: 11.111%;
  border: none;
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  position: relative;
  height: 90px;
  margin: .6em 0;
  font-size: .8em;
  background: linear-gradient(217deg, rgba(156, 145, 127, 0.05), rgba(204, 132, 50, 0.1) 70.71%),
  linear-gradient(127deg, rgba(165, 155, 112, 0.1), rgba(141, 83, 8, 0.2) 70.71%),
  linear-gradient(336deg, rgba(165, 123, 69, 0.1), rgba(168, 180, 99, 0.2) 70.71%);
  border: 3px solid #eb8e1560;
  box-shadow: inset 5px 5px 30px 0 rgb(179, 79, 12), 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  cursor: pointer;
  border-radius: 8px;
}

.signalbox__alg-btn[disabled="disabled"] {
  pointer-events: none;
}

.btn-img {
  width: 70%;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}

.signalbox__btn-file {
  width: 100%;
  height: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  outline: none;
  opacity: 0;
}

.signalbox__btn-file::-webkit-file-upload-button {
  visibility: hidden;
}

.signalbox__file-ic {
  width: 70%;
  margin: 0 auto;
  display: block;
}

.signalbox__freq-btn:focus {
  outline: none;
}

.signalbox__freq-container {
  margin: 0;
}

.signalbox__freq-num {
  color: white;
  display: block;
  font-size: 1.2em;
}

.signalbox__freq-btn {
  width: 55px;
  color: white;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 1em;
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
}

.signalbox__configure-container {
  background: black;
  color: white;
}
